.poll {
    font-size: 0.9rem;
    background: white;
    border-radius: 10px;
    border: 1px solid gray;
}

.poll ul {
    margin-top: 20px;
    padding: 0;
    margin: auto;
}

.poll ul li {
    list-style: none;
    border-radius: 3px;
    margin-bottom: .7rem;
    width: 100%;
}

.poll ul li button {
    border: none;
    background: transparent;
    outline: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    position: relative;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.poll ul li button:hover {
    background-color: #00ddf9;
    color: #fff;
}

.progress-bar-container {
    height: 10px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #ddd;
    border-radius: 5px;
    color: #ffb300;
}

.loading {
    background: rgba(46, 45, 45, 0.275);
    transform: translate(-25px, -10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-1 {
    transform: translateX(-4px);
}

.image-2 {
    transform: translateX(-8px);
}

@media (min-width: 640px) {
    .image-1 {
        transform: translateX(-7px);
    }

    .image-2 {
        transform: translateX(-14px);
    }
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0) scale(1);
    }

    25% {
        transform: translateY(-8px) scale(1.2);
    }

    50% {
        transform: translateY(0px) scale(1);
    }

    75% {
        transform: translateY(-2px);
    }
}

.up-down {
    animation: upDown 0.4s ease-in-out;
}

.up-down:hover {
    transform: translateY(-10px) scale(1.2);
    transition-duration: 0.4s;
}